.topBar {
  color: white;
  padding: 0px margin-top 0px;
  background-color: black;
  padding: 5px;
  margin-bottom: 20px;
}

.topBar ul {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin: 0px;
}
.topBar li {
  list-style: none;
}

.logoBox {
  display: flex;
  padding: 10px;
}
.searchBox {
  display: flex;
  padding: 10px;
}
.searchBox input:focus {
  outline: none;
}
.searchBox input {
  border: none;
  width: 90%;
  background-color: lightgray;
}
.searchBox form {
  border-radius: 60px;
  padding: 10px;
  background-color: lightgrey;
  width: 100%;
}
.iconBox {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  padding: 10px;
}
main {
  margin-top: 30px;
}
.box1 {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.box2 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 30px;
}
.box2 img {
  width: 100%;
}
.box3 {
  display: flex;
  height: 470px;
  justify-content: center;
  overflow: hidden;
}
.box3 img {
  width: 100%;
}
.box4 {
  display: flex;
  justify-content: center;
  height: 400px;
  overflow: hidden;
  padding-bottom: 30px;
}
.box4 img {
  width: 100%;
}
.box5 {
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
}
.box5 img {
  width: 100%;
}

@media (max-width: 576px) {
  .topBar :nth-child(2) {
    display: none;
  }
  .topBar :nth-child(3) {
    display: none;
  }
}
