* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topBar {
  color: white;
  padding: 0px margin-top 0px;
  background-color: black;
  padding: 5px;
  margin-bottom: 20px;
}

.topBar ul {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin: 0px;
}
.topBar li {
  list-style: none;
}

.logoBox {
  display: flex;
  padding: 10px;
}
.searchBox {
  display: flex;
  padding: 10px;
}
.searchBox input:focus {
  outline: none;
}
.searchBox input {
  border: none;
  width: 90%;
  background-color: lightgray;
}
.searchBox form {
  border-radius: 60px;
  padding: 10px;
  background-color: lightgrey;
  width: 100%;
}
.iconBox {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  padding: 10px;
}
main {
  margin-top: 30px;
}
.box1 {
  display: flex;
  height: 99%;
  justify-content: center;
  overflow: hidden;
}

.box2 {
  display: flex;
  justify-content: center;
  height: 43%;
  overflow: hidden;
  margin-bottom: 15px;
}
.box2 img {
  width: 100%;
}
.box3 {
  display: flex;
  height: 54%;
  justify-content: center;
  overflow: hidden;
}
.box3 img {
  width: 100%;
}
.box4 {
  display: flex;
  justify-content: center;
  height: 57%;

  overflow: hidden;
  margin-bottom: 15px;
}
.box4 img {
  width: 100%;
}
.box5 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 40%;
}
.box5 img {
  width: 100%;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px;
}
section p {
  font-size: 14px;
  margin: 8px;
}

.card-body {
  background: gray;
  height: 300px;
  max-resolution: 70px;
}
.card-body p {
  font-size: 16px;
  margin-top: 30px;
}
.card-body h5 {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bolder;
}
